@import "/src/vars.css";

.menu {
    background-color: var(--blue-1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    
    padding: 10px;
    margin: 0;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 0;
    margin: 0;
}

.item {
    padding: 8px;
    border-radius: 4px;
    color: var(--white-1);
    background-color: var(--blue-2);
    border-radius: 6px;

    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 12px;
    text-decoration: none;
}
.item img {
    --icon_size: 24px;
    width: var(--icon_size);
    height: var(--icon_size);
}
.item p {
    margin: 0;
}
.item:hover {background-color: rgba(255, 255, 255, .1);}
.item:active {background-color: rgba(255, 255, 255, .12);}
.item_exit {
    color: var(--yellow-2);
    border: 0px;
}

.item_select {
    
}