.log_list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.log_box {
    border-radius: 8px;
    padding: 6px 18px;
    background-color: #f1f1f1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log_name {
    font-size: 16px;
}

.log_controller {
    display: flex;
    gap: 10px;
    align-items: center;
}

.log_select {
    border: 1px solid gray;
    padding: 4px;
    border-radius: 4px;

    outline: 0;
}

.log_type {
    font-size: 16px;
}

.log_type_n {}
.log_type_b {}
.log_type_u {}
.log_type_o {}
.log_type_none {}
