.form_input {
    max-width: 320px;
    /* width: 100%; */

    box-sizing: border-box;

    border: 1px solid #000;
    border-radius: 44px;

    padding: 10px 16px;

    font-size: 14px;
}

.form_input::placeholder {
    color: #000;
}
