.btn {
    border-radius: 25px;
    padding: 8px 24px;
    background: #313c4d;

    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border: 3px solid #313c4d;

    box-sizing: border-box;

    margin: 10px;
}

.btn:hover {
    background: #394558;
}

.btn:active {
    border: 3px solid #313c4d;
}

.btn:disabled {
    border: 3px solid #313c4d;
    border-radius: 44px;
    padding: 10px 16px;
    background-color: #0000;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #313c4d;
}