:root {
    --gray-1: #222222;
    --gray-2: #363636;

    --blue-1: #242F40;
    --blue-2: #313C4D;

    --yellow-1: #CCA43B;
    --yellow-2: #F4BA23;

    --white-1: #E5E5E5;
    --white-2: #F6F6F6;
    --white-3: #fff;
}