.page {
    width: 100%;
    height: 100svh;
    max-height: 100svh;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr min-content;
}
.view {
    max-width: 100svw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}

@media screen and (max-width: 426px) {
    .page {
        /* flex-direction: column; */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
    }
}
