.select {
    width: 100%;

    border-radius: 6px;
    padding: 10px;
    background: #eeeeee;

    border: 0px;

    font-weight: 400;
    font-size: 14px;
    color: #000;

    margin-bottom: 20px;
    margin-top: 20px;
}
